@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.heading-m {
  @apply text-[30px] leading-[48px] font-bold;
}

.heading-s {
  @apply text-[20px] leading-[40px] font-bold;
}

.text-button-m {
  @apply text-[12px] leading-[18px] font-medium;
}

.text-button-m {
  @apply text-[12px] leading-[18px] font-medium;
}

.text-l-regular {
  @apply text-[18px] leading-[18px];
}
.text-m-regular {
  @apply text-[14px] leading-[18px];
}

.text-s-regular {
  @apply text-[10px] leading-[18px];
}

.text-l-bold {
  @apply text-[20px] leading-[18px] font-bold;
}
.text-m-bold {
  @apply text-[14px] leading-[18px] font-bold;
}

.text-s-bold {
  @apply text-[10px] leading-[18px] font-bold;
}

/* toggle button CSS */
.toggle-btn {
  background-color: #626262;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  position: relative;
}
.toggle-knob {
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-btn.active .toggle-knob {
  left: calc(40px - 17px);
}
